[submodule "third-party/libcommon"]
	path = third-party/libcommon
	url = https://github.com/ForwardStar/libcommon.git
	branch = master
[submodule "library/radixgraph/RadixGraph"]
	path = library/radixgraph/RadixGraph
	url = https://github.com/ForwardStar/RadixGraph.git